<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="countainer">
        <img class="img" src="/img/background.jpg" />
        <div class="div-form-login">
            <form class="login-form" method="post" action="/login/page/doing">
                <p>
                    <%=msg %>
                </p>
                <div class="mb-3">
                    <label for="userName" class="form-label">userName</label>
                    <input type="text" class=" form-control" id="userName" placeholder="userName" name="userName">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="pasword" name="password">
                </div>
                <div class="btn-form">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="submit" class="btn btn-primary"><a class="register-link"
                            href="http://localhost:3000/register/page">Register</a></button>
                </div>

            </form>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</html>