<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  
    <form action="/do" method="post">
        <div class="form-group">
            <label for="avatar">fname</label>
            <input type="text" id="fname" name="fname">
            <input type="text" id="fname" name="abc" itemid="">
        </div>
        <button type="submit">SEND</button>

    </form>
</body>

</html>