html *
{
   font-family:Tahoma, sans-serif !important;
}
.countainer-dashboard {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 643px;
}

.content-dashboard {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 750px;
    height: 650px;
}

.content-reg{

    
}
.img {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
}

.d-form {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}

.flex-row{
    display: flex;
    flex-direction: row;
};





.modal {
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.modal-content {
    width: 800px;
    height: 550px;
}

.modal-header {
    position: relative;
}

.d-welcome-txt {
    width: 500px;
    height: 50px;
    margin: 10px auto 0;
    font-weight: bolder;
}



.d-avatar{

    margin: 40px 0 0 500px;
 
}
.avatar{
    width: 200px;
    height: 200px; 
    border-radius: 100px;
}

.d-btns{
    width: 210px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}