html *
{
   font-family:Tahoma, sans-serif !important;
}

.countainer {
    position: relative;
}

.content {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.img {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    position: absolute;
    z-index: 0;
}